svg {
  display: block;
  box-shadow: inset 0 0 5px 0px rgba(0,0,0,0.3);
  overflow: visible;
}

.snippet {
  margin: 100px auto;
}

.snippet:after {
 content: "";
 display: table;
 clear: both;
}

.code, .data, .state {
  display: block;
  float: left;
}

.linenums {
  margin: 0;
}

ol.linenums > li {
  padding-right: 20px;
  background-color: #FFFFFF;
  position: relative;
  list-style-type: decimal;
}

ol.linenums > li:nth-child(odd) {
  background-color: #F8F8F8
}

ol.linenums .state {
  position: absolute;
}

pre.prettyprint {
  padding: 0;
  border: none;
}

.background {
  fill: #F0F0F0;
}

.axis {
  shape-rendering: crispEdges;
}

.axis line {
  stroke: #000000;
}

.axis text {
  font-family: monospace;
  font-size: 8px;
}

.tick:first-of-type,
.tick:last-of-type {
  display: none;
}

.tick text {
  display: none;
}

.tick:nth-child(5n+1) text {
  display: block;
}

.tick line {
  height: 3;
}

.axis .minor {
  stroke-opacity: .5;
}

.axis path {
  display: none;
}

.val {
  font-family: monospace;
  font-size: 10px;
}

.lit:hover {
  cursor: ew-resize;;
}

.state > ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
  font-family: monospace;
  list-style: none;
}

.state > ol > li {
    height: 15px;
}
